* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat Medium, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
  padding: 1rem;
  box-sizing: border-box;
}

.slider {
  width: 30em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="radio"] {
  display: none;
}

.slider-images-container,
.slider-bottom-container {
  display: flex;
  align-items: center;
  transition: 0.7s;
}

.slider-bottom-container {
  gap: 2em;
}

.slider-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  gap: 1em;
}

.slider-images img {
  width: 100%;
  height: auto;
}

.slider-text {
  font-size: 1em;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
}

.slider-bottom {
  overflow: hidden;
  width: 100%;
}

.slider-bottom-text {
  display: flex;
  width: 100%;
  transition: transform 0.7s;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.3em;
  height: 2.3em;
}

.slider-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-1:checked
  ~ .slider-bottom-container
  .slider-nav
  label[for="nav-1"]
  .slider-dot,
#nav-2:checked
  ~ .slider-bottom-container
  .slider-nav
  label[for="nav-2"]
  .slider-dot,
#nav-3:checked
  ~ .slider-bottom-container
  .slider-nav
  label[for="nav-3"]
  .slider-dot,
#nav-4:checked
  ~ .slider-bottom-container
  .slider-nav
  label[for="nav-4"]
  .slider-dot {
  background: rgb(0, 67, 252);
}

#nav-1:checked ~ .slider-images-container,
#nav-1:checked ~ .slider-bottom-container .slider-bottom-text {
  transform: translateX(0%);
}

#nav-2:checked ~ .slider-images-container,
#nav-2:checked ~ .slider-bottom-container .slider-bottom-text {
  transform: translateX(-100%);
}

#nav-3:checked ~ .slider-images-container,
#nav-3:checked ~ .slider-bottom-container .slider-bottom-text {
  transform: translateX(-200%);
}

#nav-4:checked ~ .slider-images-container,
#nav-4:checked ~ .slider-bottom-container .slider-bottom-text {
  transform: translateX(-300%);
}

.slider-nav label:hover .slider-dot {
  background: rgb(144, 142, 142) !important;
  transform: scale(1.25);
}

.slider-nav label:active:nth-child(1) .slider-dot,
.slider-nav label:active:nth-child(2) .slider-dot,
.slider-nav label:active:nth-child(3) .slider-dot,
.slider-nav label:active:nth-child(4) .slider-dot {
  background: rgb(53, 35, 155) !important;
}

@media screen and (max-width: 501px) {
  .slider-bottom-container {
    flex-direction: column;
    gap: 1em;
  }

  .slider-nav {
    order: -1;
  }

  .slider-text {
    font-size: 1rem;
  }
}
